* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

.fondo {
  width: 700px;
  height: 700px;
}

.boton {
  display: flex;
  padding-bottom: 10px;
  border-radius: 10px;
  justify-content: center;
}

.boton button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.boton input {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-bottom: 9px;
  border-radius: 8px;
}

.botones {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  flex: 10%;
}

.botones div {
  text-align: center;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  width: 25%;
}
